.fcontainer {
  display: flex;
  border: 2px solid grey;
  height: 55vh;
  display: flex;
  /*flex-direction: column-reverse;*/
  /*justify-content: flex-end;*/
  /*justify-content: flex-start;*/
  /*justify-content: center;*/
  /*align-items: center;
      /*align-items: flex-end;
      align-items: flex-start;*/
  justify-content: center;
  animation: example 1s infinite alternate ease-out forwards;
  animation-delay: 1s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s ease-out;
}

.fitem {
  background-color: aqua;
  border: 2px solid black;
  margin: 12px;
  width: 50px;
  height: 70px;
}

/* add animations to the flexbox items */
@keyframes example {
  0% {
    align-items: flex-start;
  }
  50% {
    align-items: center;
    background-color: blue;
  }
  100% {
    align-items: flex-end;
  }
}
/* change the color of the fitems while they are moving in the animation */
.fitem {
  animation: colorchange 1s infinite alternate ease-out forwards;
  animation-delay: 1s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s ease-out;
}

@keyframes colorchange {
  0% {
    background-color: green;
  }
  50% {
    background-color: yellow;
    width: 100px;
  }
  100% {
    background-color: red;
  }
}
